language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"

services:
  - docker

before_install:
  - docker image pull quay.io/coreos/etcd:latest
  - docker container run -d -p 2379:2379 --name etcd quay.io/coreos/etcd:latest /usr/local/bin/etcd --advertise-client-urls http://localhost:2379 --listen-client-urls http://0.0.0.0:2379

script:
  - pip install pytest pytest-mock
  - pip install -e .
  - pytest -vv -o log_cli=True -o log_level=DEBUG
